/*---------------------------------Buttons------------------------------------*/
#buttonMenu{
    -fx-font: 13px "Roboto";
    -fx-text-fill: #ffffff;
    -fx-background-color: #0d3781;
    -fx-background-radius: 0;
    -fx-alignment: BASELINE_LEFT;
    -fx-focus-traversable: false;
}

#buttonMenu:hover{
    -fx-font: 15px "Roboto";
    -fx-cursor: hand;
    -fx-text-fill: #ffffff;
    -fx-background-color: #0690e0;
    -fx-background-radius: 0;
}
    
#btnAdd{
    -fx-font: 13px "Roboto Bk";
    -fx-background-color: #00d800;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

#btnEmpty{
    -fx-font: 13px "Roboto Bk";
    -fx-background-color: #f9bb00;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

#btnCalculate{
    -fx-font: 13px "Roboto Bk";
    -fx-background-color: #0d3781;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
    
}
/*-------------------------------Containers-----------------------------------*/
#dataBox{
    -fx-background-color: #0d3781;
    -fx-spacing: 4;
}
#resultAP{
    -fx-background-color: #0d3781;
}
/*---------------------------------Labels-------------------------------------*/
#lblDataStudent{
    -fx-font: 13px "Roboto";
    -fx-text-fill: #ffffff;
    -fx-alignment: CENTER;
}

#lblResult{
    -fx-font: 15px "Roboto";
    -fx-text-fill: #ffffff;
    -fx-alignment: CENTER;
}

#lblMonomial{
    -fx-font: 17px "Roboto";
    -fx-text-fill: #000000;
    -fx-alignment: CENTER;
}

#lblFunction{
    -fx-font: 17px "Roboto";
    -fx-text-fill: #000000;
    -fx-alignment: CENTER_LEFT;
}
/*-------------------------------Text Fields----------------------------------*/
#txtNumber{
    -fx-font: 17px "Roboto";
    -fx-text-fill: #000000;
    -fx-alignment: CENTER;
    -fx-focus-traversable: false;
}

.centeredTextArea .scroll-pane .content .text {
    -fx-text-alignment: center;
}

#txtArea{
    -fx-font: 15px "Roboto";
    -fx-text-fill: #000000;
    -fx-alignment: CENTER;
}
/*-------------------------------Text Fields----------------------------------*/
#tblData{
    -fx-alignment: CENTER;
    -fx-font: 12px "Roboto";
    -fx-text-fill: #000000;
    -fx-focus-traversable: false;
}

